
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('mechbg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 750px;
  height: auto;
  z-index: 1;
}

.pic1, .pic2 {
  position: absolute;
  width: 300px; 
  height: auto;
}

.pic1 {
  margin-left: 370px;
  margin-top: 100px;
}

.pic2 {
  margin-left: 900px;
  margin-top: 400px;
}

.p1, .p2 {
  width: 35%;
}

.p1 {
  float: right;
  margin-top: 130px;
  margin-right: 200px;
}

.p2 {
  float: left;
  margin-top: 50px;
  margin-left: 250px;
}

.container {
  text-align: center;
  border: solid 1px #6c6cee;
  border-radius: 35px;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: white;
  background-color: #6c6cee;
  margin: 20px auto;
  max-width: 90%;
}


@media (max-width: 1180px) {
  .pic1 {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -260px;
  }
  
  .pic2 {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 250px;
  }
  
  .p1 {
    float: none;
    width: 80%;
    margin-left: 100px;
    margin-top: 350px;
    text-align: center;
  }
  
  .p2 {
    float: none;
    width: 80%;
    margin-top: 400px;
    margin-left: 100px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .logo {
    max-width: 90%;
  }

  .pic1, .pic2 {
    width: 200px;
  }

  .pic1 {
    margin-top: -150px;
    
  }

  .pic2 {
    margin-top: 170px;
  }

  .p1, .p2 {
    width: 85%;
    margin: 225px auto;
  }

  .container {
    padding: 15px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .pic1, .pic2 {
    width: 150px;
  }

  .p1, .p2 {
    font-size: 14px;
  }

  .container {
    padding: 10px;
    font-size: 16px;
  }
}



