/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --second-color: darkblue;
  --dark-color: hsl(212, 40%, 12%);
  --white-color: darkblue;
  --body-color: #FAFAFA;
  --container-color: #fafafa;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 450px; 
  height: auto; 
  z-index: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*=============== The whole Card Slider ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 380px;
}

/*====== Contents inside the Cards ======*/
.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  font-size: 36px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 80px;
  margin-top: 60px;
}

/*====== Card Hovers ======*/
.card__data:hover .card__name {
  color: white; 
}

.card__data:hover .card__description {
  color: white; 
}
    
.card__data:hover {
  background-color: #6c6cee;
  cursor: pointer;
  transform: scale(1.03);
}

/*====== Swiper class ======*/
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 49%;
  bottom: 6%;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .card__data {
    padding: 1rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}